$main:#10cab7;
$secondary:#2c4755;
$background:#f6f6f6;
@mixin layers($color){
  padding: {
    top:60px;
    bottom: 60px;
  };
  background:$color;
}
@mixin grid-sestm($gap){
  display: grid;
  grid-template-columns: repeat(auto-fill,minmax(300px,1fr));
  gap: $gap + 0px;
}
*{
  padding: 0;
  margin: 0;
}
::-moz-selection{
  background: rgba(16,202,183,.6);
}
::selection{
  background: rgba(16,202,183,.6);
}
html{
  scroll-behavior: smooth;
}
.container,
.container-fluid,
.container-lg,
.container-md,
.container-sm,
.container-xl,
.container-xxl {
  width: 100%;
  /*padding-right: var(--bs-gutter-x, .75rem);
  padding-left: var(--bs-gutter-x, .75rem);*/
  margin-right: auto;
  margin-left: auto
}

@media (min-width:576px) {

  .container,
  .container-sm {
    max-width: 540px
  }
}

@media (min-width:768px) {
  .container,
  .container-md,
  .container-sm {
    max-width: 720px
  }
}

@media (min-width:992px) {
  .container,
  .container-lg,
  .container-md,
  .container-sm {
    max-width: 960px
  }
}

@media (min-width:1200px) {
  .container,
  .container-lg,
  .container-md,
  .container-sm,
  .container-xl {
    max-width: 1140px
  }
}

@media (min-width:1400px) {
  .container,
  .container-lg,
  .container-md,
  .container-sm,
  .container-xl,
  .container-xxl {
    max-width: 1320px
  }
}
body{
  font-family: 'Work Sans', sans-serif;
}
body::before {
  content: '';
  width: 100%;
  height: 64px;
  display: block;
  position: relative;
}
.special-heading{
  font-size: 100px;
  color:#ebeced;
  font-weight: 800;
  letter-spacing: -3px;
  text-align: center;
  margin: 0;
  & + p{
    margin-top: -40px;
    padding-bottom: 40px;
    text-align: center;
    color: #797979;
  }
}
@media (max-width:576px){
  .special-heading {
    font-size: 60px;
    & + p{
      margin-top: -30px;
      padding-bottom: -30px;
    }
  }
}
header {
  padding: 20px 0;
  max-height: 64px;
  position: fixed;
  top: 0;
  max-width: 100%;
  width: 100%;
  z-index: 99;
  background: rgba(255,255,255,.7);
  > .container{
    display: -webkit-box;
    display: -moz-box;
    display: flex;
    -webkit-box-pack: justify;
       -moz-box-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
       -moz-box-align: center;
            align-items: center;
    > .logo{
      width: 60px;
      padding-left: 7px;
    }
    > .link{
      position: relative;
      padding-right: 10px;
      > .icon{
        display: -webkit-box;
        display: -moz-box;
        display: flex;
        flex-wrap: wrap;
        width: 30px;
        -webkit-box-pack: end;
           -moz-box-pack: end;
                justify-content: flex-end;
        > span{
          height: 2.5px;
          width: 100%;
          background: #333;
          margin-bottom: 4px;
          &:nth-child(2){
            width: 60%;
            -webkit-transition: .3s;
            -moz-transition: .3s;
            transition: .3s;
            &:hover {
              width: 100%;
            }
          }
        }
      }
      > ul{
        position: absolute;
        right: 0;
        list-style: none;
        background:$background;
        top:-moz-calc(100% + 10px);
        top:calc(100% + 10px);
        min-width: 250px;
        display: none;
        border-radius: 2px;
        z-index: 1;
        &.active {
          display: block;
        }
        &::before{
          content: '';
          border-width: 10px;
          border-style: solid;
          border-color: transparent transparent $background transparent;
          position: absolute;
          right: 5px;
          top: -20px;
        }
        > li {
          &:not(:last-of-type){
            border-bottom: .5px solid #333;
          }
          > a{
            display: block;
            padding: 15px 20px;
            text-decoration: none;
            color:#333;
            -webkit-transition: .3s;
            -moz-transition: .3s;
            transition: .3s;
            &:hover{
              padding-left: 30px;
            }
          }
        }
      }
    }
  }
}
section#landing{
  height: -moz-calc(100vh - 64px);
  height: calc(100vh - 64px);
  background-image: url(../img/landing.jpg);
  background-size: cover;
  position: relative;
  > .alert-text{
    position: absolute;
    top:50%;
    left:50%;
    -webkit-transform: translate(-50%,-50%);
       -moz-transform: translate(-50%,-50%);
            transform: translate(-50%,-50%);
    text-align: center;
    width: 320px;
    max-width: 100%;
    > h1{
      margin: 0;
      font-size: 40px;
      font-weight: bold;
      color: $main;
    }
    > p{
      font-size: 16px;
      line-height: 1.6;
    }
  }
}
section#Features {
  @include layers($background);
  > .container{
    @include grid-sestm(30);
    > .pernt {
      text-align: center;
      padding: 7px 2px;
      > i{
        color:$main;
        font-size: 3em;
      }
      > h3{
        margin: 15px 0;
        font-weight: 800;
      }
      > p{
        line-height: 1.7;
        color:#777;
        font-size: 17px;
      }
    }
  }
}
#Services{
  @include layers(#fff);
  .services-content{
    @include grid-sestm(30);
    .srv{
      display:-webkit-box;
      display:-moz-box;
      display:flex;
      margin-bottom: 20px;
      > i{
        flex-basis: 60px;
        color:$main;
      }
      > .text {
        -webkit-box-flex:1;
           -moz-box-flex:1;
                flex:1;
        > p{
          color:#777;
          line-height: 1.6;
          font-size: 14px;
        }
      }
    }
    .image {
      position: relative;
      text-align: center;
      &::before{
        content: "";
        height: -moz-calc(100% + 80px);
        height: calc(100% + 80px);
        top:-40px;
        right: 0;
        width: 80px;
        position: absolute;
        z-index: -1;
        background: $secondary;
      }
      img {
        width: 260px;
      }
    }
  }
}
@media (max-width:1200px){
  .image-column{
    display: none;
  }
  #Services .services-content .srv{
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
       -moz-box-orient: vertical;
       -moz-box-direction: normal;
            flex-direction: column;
    text-align: center;
  }
}
#Portfolio{
  padding: 15px;
  @include layers($background);
  .portfolio-content{
    @include grid-sestm(30);
    > .card{
      background: #fff;
      img {
       max-width: 100%;
      }
      > .info{
        padding: 10px;
        > h3{
          color:#333;
          padding: 8px 0;
        }
        > p{
          color:#777;
          line-height: 1.6;
        }
      }
    }
  }
}
#About {
  @include layers(#fff);
  .about-content{
    display: -webkit-box;
    display: -moz-box;
    display: flex;
    flex-wrap: wrap;
    -webkit-box-pack: justify;
       -moz-box-pack: justify;
            justify-content: space-between;
    margin-top: 70px;
    > .image{
      position: relative;
      z-index: 1;
      width: 250px;
      height:375px;
      &::before{
        content: '';
        position: absolute;
        height: -moz-calc(100% + 80px);
        height: calc(100% + 80px);
        width: 70px;
        top:-40px;
        background: #ebeced;
        left:-7px;
        z-index: -1;
      }
      &::after{
        content: '';
        position: absolute;
        top:-40px;
        height: 75%;
        right:-50px;
        width: 100px;
        left: 85%;
        z-index: -1;
        border-left:60px solid $main;
        border-bottom: 60px solid $main;
      }
      > img{
        max-width: 100%;
      }
    }
    > .text{
      flex-basis: -moz-calc(100% - 500px);
      flex-basis: calc(100% - 500px);
      line-height: 2;
      > p{
        &:first-of-type{
          font-weight: bold;
          margin-bottom: 30px;
        }
        &:last-of-type{
          color:#777;
        }
      }
      > hr{
        width: 50%;
        border-color: $main;
        margin: auto;
        display: inline-block;
      }
    }
  }
}
@media (max-width:991px){
  #About .about-content{
    margin-top: 20px;
    -webkit-box-pack: center;
       -moz-box-pack: center;
            justify-content: center;
    > .image{
      display: none;
    }
    > .text{
      flex-basis: auto;
      text-align: center;
    }
  }
}
#Contact{
  @include layers($background);
  .info{
    padding-top: 25px;
    text-align: center;
    > .label{
      color:#2c4755;
      font-weight: bold;
      letter-spacing: -1.5px;
      font-size: 1.5em;
    }
    > .link{
      display: block;
      padding: 25px 0;
      color:$main;
      font-size: 1.6em;
      text-decoration:none;
      font-weight: bold;
    }
    > .social{
      > span{
        color:#333;
        line-height: 1.8;
      }
      > a{
        color:$secondary;
        text-decoration: none;
      }
    }
  }
}
footer{
  padding: 15px 0;
  background: $secondary;
  color:#fff;
  line-height: 1.6;
  text-align: center;
  > span{
    color:$main;
    font-weight: bold;
  }
}